<div class="max-w-3xl mx-auto p-6">
  <h1 class="text-3xl font-kaisei text-center text-pink-600 mb-8">
    出演者の編集
  </h1>
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "推し編集" %>
  <%= render "form", artist: @artist %>
</div>