<div class="max-w-6xl mx-auto p-6">
  <h1 class="text-3xl font-kaisei text-center text-pink-600 mb-8">
    出演者一覧
  </h1>

  <p class="text-green-600 text-center"><%= notice %></p>
  <% if @artists.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <% @artists.each do |artist| %>
        <%= link_to artist_path(artist),
            class: "block bg-white rounded-2xl shadow-md p-6 hover:shadow-xl hover:-translate-y-1 transition" do %>

            <h2 class="text-xl font-bold text-gray-800">
              <%= artist.name %>
            </h2>

            <div class="mt-4 text-pink-500 text-sm">
              詳細を見る →
            </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center text-gray-500">
      まだ出演者が登録されていません 💭
    </p>
  <% end %>
</div>