<div id="<%= dom_id favorite %>">
  <p>
    <strong>Name:</strong>
    <%= favorite.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= favorite.category %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= favorite.memo %>
  </p>

</div>
